<%- include('partials/header.ejs') %>

<div class="container">
  <% if(locals.drinks) {%>

  <div class="container my-5">
    <h2 class="mb-4">Enjoy Your Drink!</h2>
    <div class="row d-flex justify-content-center cocktail-card">
      <% drinks.forEach((drink)=> { %>
      <div class="col-sm-6 col-md-4 col-xl-3 my-2 cocktail-card">
        <a href="/drink/<%= drink.idDrink %>" class="link">
          <img
            src="<%= drink.strDrinkThumb %>"
            class="drinkList-img"
            alt="<%= drink.strDrink %>"
          />
          <h6 class="py-2"><%= drink.strDrink %></h6>
        </a>
      </div>

      <% })%>
    </div>
    <%} else {%>
    <div class="container d-flex justify-content-center message-container">
      <p><%= message %></p>
    </div>
    <% } %>
  </div>

  <% if(locals.pageCount && pageCount > 1) { %> <%- include('partials/pagination-nav.ejs') %> <%} %>
</div>
<%- include('partials/footer.ejs') %>
